/* Define standard variables and values for website */
:root {
  --bgcolor: #243447;
  --bgcolor-2 :#284498;
  --textcolor:  #FBDECB;
  --fontsize: 18px;
  --fontsize-2: 25px;
  --base-white-color:#ffffff;
  --base-black-color:#000000;
}

/* Use the variables */
body {
  margin: 25px;
  background-color: var(--base-black-color);
  color: var(--textcolor);
  font-size: var(--fontsize);
}

.btn-warning, btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  
  background-color: transparent;
  top:5px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  position: relative;
 
  cursor: pointer;
}

.btn-warning:hover, btn-warning:not(:disabled):not(.disabled).active:hover,
.btn-warning:not(:disabled):not(.disabled):active:hover,
.show > .btn-warning.dropdown-toggle:hover {
  background-color: transparent;
}

.btn-warning i.far, btn-warning:not(:disabled):not(.disabled).active i.far,
.btn-warning:not(:disabled):not(.disabled):active i.far,
.show > .btn-warning.dropdown-toggle i.far {
  display: flex;
  justify-content: center;
}

.polaroid {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.polaroid .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  background-color: var(--bgcolor);
  width:33.33%;
  min-height: 350px;
  margin-right: 1em;
 

  flex-direction: row;
}

.polaroid figure{
  display:flex;
  justify-content: center;
  margin-bottom:3em;
  height:415px;
 
}
.polaroid figure img {
  height:100%;
  width:100%;
  object-fit: fill ;
  background-repeat: no-repeat;
  top: 1em;
  position: relative;
}

.tittle {
  /* height:122px; */
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  /* padding: 1em 2em; */
  
}

.desc{
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 

}

.btn-container{
  display: flex;
  justify-content: center;
  line-height:2.5;
}

.fas{
  color:var(--base-white-color);
  font-size: var(--fontsize-2);
  padding:1em;
}

@media only screen and (max-width: 600px) {
  .polaroid .card {
    flex-direction: column;
    width:100%;
  }
}





/*CSS FOR LOADING SPINNERS*/

.loader{
  /* position:fixed;
  top:40%;
  left: 40%; */
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /* padding: 150px; */
  text-align: center;
}

.loading-text
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 34px;
  text-align: center;
  position: relative;

}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/*# sourceMappingURL=styles.css.map */