/* Define standard variables and values for website */
:root{
    --bgcolor: #38497F;
    --textcolor: darkblue;
    --fontsize: 18px;
    --base-white-color:#ffffff;
    --base-black-color:#000000;

}
